<nav class="navbar navbar-expand-lg navbar-dark bg-black navBg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sobremi']">Sobre mi</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Diseño
        </a>
        <div class="dropdown-menu dropdown-nav" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/illustrator']">Illustrator</a>
          <a class="dropdown-item" [routerLink]="['/photoshop']">Photoshop</a>
          <a class="dropdown-item" [routerLink]="['/design3d']">Diseños 3d</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Proyectos web
        </a>
        <div class="dropdown-menu dropdown-nav" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/illustrator']">Asp-Net</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Otros proyectos
        </a>
        <div class="dropdown-menu dropdown-nav" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/unity']">Unity</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


  <router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small footerBg">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <span>© 2020 Copyright:</span> 
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->