


.footerBg{
    background-color: #007bff;
}
.footerBg span,a {
color: white;
}
.navBg a{
    color: white;
}
.contenedorTodo {
    display: flex;
    width: 100%;
}
.dropdown-nav {
    background-color: black;
}
.dropdown-nav a {
    color: white;
}
.dropdown-nav a:hover{
    background-color: #3e94f0;
}