<div class="bienvenidaDiv d-flex">
    <div class="bienvenidaTitulo">
        <img src="../../../assets/images/design.png" alt="">
        <h1>Diseño 3D</h1>
        <hr class="bg-white">
        <h5>Design</h5> 
    </div>
</div>
<hr class="width" >
<div class="seccionTitulo">
    <div class="seccionTituloTitulo">
        <h3 style="text-align: center;">Modelos 3D</h3>
        <hr>
    </div>
</div>

<div class="modelos">
    <div class="sketchfab-embed-wrapper modeloDiv">
        <iframe title="A 3D model" class="iframe" src="https://sketchfab.com/models/b0c392618fb642d3ade5cb84e73471d2/embed" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
            <a href="https://sketchfab.com/3d-models/sofa-b0c392618fb642d3ade5cb84e73471d2?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sofa</a>
            by <a href="https://sketchfab.com/alexelfandi60?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">alexelfandi60</a>
            on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
        </p>
    </div>
    <div class="sketchfab-embed-wrapper modeloDiv">
        <iframe title="A 3D model" class="iframe" src="https://sketchfab.com/models/b0c392618fb642d3ade5cb84e73471d2/embed" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
            <a href="https://sketchfab.com/3d-models/sofa-b0c392618fb642d3ade5cb84e73471d2?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sofa</a>
            by <a href="https://sketchfab.com/alexelfandi60?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">alexelfandi60</a>
            on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
        </p>
    </div>
</div>
