.descripcionDiv {
    width: 100%;
    padding: 3%;
}
.descripcionTitulo {
    width: 100%;
}
.bienvenidaDiv {
    background-image: url("../../../assets/images/fondo1.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 768px;
}
.bienvenidaDiv *{
    color: white;
}
.bienvenidaTitulo{
    text-align: center;
    
}
.bienvenidaTitulo h1 {
    font-size: 4vw; 
}
.width80 {
    width: 80%;
}

