<div class="bienvenidaDiv d-flex">
    <div class="bienvenidaTitulo">
        <h1>Alex Fandiño</h1>
        <hr class="bg-white">
        <h5>Portfolio</h5> 
    </div>
</div>
<hr class="width" >

<section class="contenidoDiv">
    <div class="contenidoDivTitulo">
        <h2>Pagina hecha con</h2>
    </div>
    <div class="contenidoDivObjetos">
        <article class="objeto">
            <img src="../../../assets/images/Logo Angular.png" alt="">
            <hr class="lineaPequena">
            <h4>Angular</h4>
        </article>
        <article class="objeto">
            <img src="../../../assets/images/Logo node.png" alt="">
            <hr class="lineaPequena">
            <h4>Express</h4>
        </article>
        <article class="objeto">
            <img src="../../../assets/images/Logo Bootstrap.png" alt="">
            <hr class="lineaPequena">
            <h4>Bootstrap</h4>
        </article>
    </div>
</section>
