.bienvenidaDiv {
    background-image: url("../../../assets/images/fondo1.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 768px;
}
.bienvenidaDiv *{
    color: white;
}
.bienvenidaTitulo{
    text-align: center;
    
}
.bienvenidaTitulo h1 {
    font-size: 4vw; 
}
.width80 {
    width: 80%;
}
.contenidoDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.contenidoDivTitulo {
    width: 100%;
    text-align: center;
}
.contenidoDivObjetos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.objeto{
    width: 30%;
    text-align: center;

}
.objeto img{
    width: 50%;
}
.lineaPequena {
    width: 40%;
}

