.bienvenidaDiv {
    background-image: url("../../../assets/images/FondoSolo.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 768px;
}
.bienvenidaDiv *{
    color: white;
}
.bienvenidaTitulo{
    text-align: center;
    margin-bottom: 240px;
    
}
.bienvenidaTitulo img{
    margin-bottom: 30px;
    width: 60%;
    
}
.bienvenidaTitulo h1 {
    font-size: 4vw; 
}
.width {
    width: 80%;
}
.contenidoDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.contenidoDivTitulo {
    width: 100%;
    text-align: center;
}
.contenidoDivObjetos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.objeto{
    width: 30%;
    text-align: center;

}
.objeto img{
    width: 50%;
}
.lineaPequena {
    width: 40%;
}


@media (max-width: 600px) {
    
    .objeto {
        width: 70%;
        margin-top: 20px;
    }
    .contenidoDivObjetos {
        flex-wrap: wrap;

    }
}

@media (max-width: 991px) {
    
    .bienvenidaDiv {
        height: 400px;
        
    }
    .bienvenidaTitulo {
        margin-bottom: 0px;
    }
    .bienvenidaTitulo h5 {
        font-size: 3vw;
    }
    
}

@media (max-width: 505px) {
    
    .bienvenidaDiv {
        height: 400px;
        
    }
    .bienvenidaTitulo h1 {
        font-size: 5vw;
    }
    
}

